<% provide(:title,'Rita Zevallos') %>

<p>
  <h1>
    This website is really a collection of notes for a research project.
  </h1>
  Except I don't know yet what I am researching.
  I know that it is important.
  Somehow it will all tie together in the end.
</p>

<p>
  My name is Rita Zevallos. I am a twenty-year-old person studying math,
  computer science, and art at Swarthmore College. I've taken classes in
  psychology, computer science, Spanish, philosophy, English literature,
  Spanish literature, math, physics, studio art, sociology, history, and film.
  I've spent two summers doing math research. I spent a semester studying
  abroad in Madrid. I read a lot of books.
</p>