<p>
  <h1>
    This is some kind of repository of things.
  </h1>
  A place I go when my mind needs to spill.
  I learn things. I think things. I make things. Then I forget it all again, and they are gone.
  Where do they go? Each of these paper boxes is tied by invisible string to some point in space-time.
  Although I carry myself with me enclosed in my skin, I am spread all over the universe,
  both the real one and the multitude of imaginary ones.
</p>