<aside class="span2">
  <%= link_to image_tag('plant.png'), root_url %>
  <section>
    <h4>categories</h4>
    <ul>
        <% @categories.each do |cat| %>
            <li><%= link_to cat.title, cat %></li>
        <% end %>
    </ul>
  </section>
</aside>