<% provide(:title, 'The Collection') %>

<row>

  <%= render 'shared/sidebar', categories: @categories %>
  <div class="span8">
    <h2>the collection</h2>

    <%= will_paginate %>

    <ul class="posts">
      <% @posts.each do |post| %>
          <li>
            <%= render post %>
          </li>
      <% end %>
    </ul>

    <%= will_paginate %>
  </div>
</row>
