@import "bootstrap";

/* footer */

footer {
  margin-top: 45px;
  padding-top:5px;
  border-top: 1px solid #eaeaea;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    flight: right;
    list-style: none;
    li {
      float: left;
      margin-left:10px;
    }
  }
}