<% provide(:title, 'New Category') %>
<row>
  <div class="span8 offset2">
    <h1>New Category</h1>

    <%= form_for(@category) do |f| %>
        <%= render 'fields', f: f %>
    <% end %>


  </div>
</row>