<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "collection",   '#' %></li>
      <li><%= link_to "about rita zevallos", about_path %></li>
      <li><%= link_to "new post", newpost_path %></li>
    </ul>
  </nav>
</footer>